QLineEdit {
    background:transparent;
    border-color: rgb(4, 76, 126);
    border-style: solid;
    border-width: 2px;
    border-radius:5px;
}

QTextEdit {
    background:transparent;
    border-color: rgb(4, 76, 126);
    border-style: solid;
    border-width: 2px;
    border-radius:5px;
}

QLineEdit:focus, QTextEdit:focus {
  background:transparent;
  border: 2px solid rgb(105,205,0);
  color: black;
}